<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>Login Page</header>
    <main>
        <div>
            <form onsubmit="localStorage.setItem(`username`, document.getElementById(`username`).value)" action="/" method="POST" >

                <input id="username" type="text" name"title" required> 
            
                <button type="submit" >Login</button>
            
            </form>
    </div>
    </main>
</body>
</html>